name: Run Builds and Test Changes
run-name: ${{github.actor}} just pushed to the main branch
on: push

jobs:
  Build-and-Test:
    name: Build and Test
    runs-on: ubuntu-latest
    # to add a container service that will be used in the other steps
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        # health checks to ensure postgres container is ready
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps ports 5435 on the host to the container port 5432
          - 5435:5432
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      
      - name: Set up NodeJs
        uses: actions/setup-node@v3
        with:
          node-version: 18
          
      - name: Install Dependecies
        run: yarn install
      
      - name: Migrate to the Test DB
        run: yarn prisma migrate
        
        
          
        
  
